
.bordered
{
	/*border: 1px solid #a8a8a8;*/
	outline: solid #674b0d 1px;
	background-color: #dddddd;
}

#main-game-field
{
	width: 100%;
}

.field-scores-container
{
	height: 100%;
	width: 100%;
	display: table;
}

.field-scores-container > div
{
	display: table-cell;
	vertical-align: middle;
}

.field-scores-score
{
	height: 50px;
	width: 100%;
}

.field-scores-score:first-child
{
	position: absolute;
	top: 0;
}

.field-scores-score:last-child
{
	position: absolute;
	bottom: 0;
}

.active-games, .active-players
{
	height: 45%
}
.active-players
{
	bottom: 0;
	position: absolute;
	width: 100%;
}