
.bordered
{
	/*border: 1px solid #a8a8a8;*/
	outline: solid #674b0d 1px;
	background-color: #dddddd;
}

.full-height
{
	height: 100%;
}

#main-game-field
{
	width: 100%;
}

.field-scores-container
{
	height: 100%;
	width: 100%;
	display: table;
}

.field-scores-container > div
{
	display: table-cell;
	vertical-align: middle;
}

.field-scores-score
{
	height: 50px;
	width: 100%;
}

.field-scores-score:first-child
{
	position: absolute;
	top: 0;
}

.field-scores-score:last-child
{
	position: absolute;
	bottom: 0;
}

.active-games, .active-players
{
	height: 45%
}
.active-players
{
	bottom: 0;
	position: absolute;
	width: 100%;
}

.main-bottom-menu
 {
	 height: 25px;
 }
.main-top-menu
{
	height: 50px;
	width: 100%;
	position: absolute;
	z-index: 1;
	transition: height 0.5s ease-out;
}
.main-top-menu.opened
{
	height: 150px;
}

.main-top-menu > .row
{
	height: 100%;
}

.main-top-menu .columns, .main-bottom-menu > .columns
{
	height: 100%;
}
#main-top-menu-open-button, #main-chat-menu-open-button
{
	cursor: hand;
	cursor: pointer;
}

.main-game-container
{
	position: relative;
	top: 50px;
}

.main-chat
{
	position: absolute;
	width: 100%;
	top: 50%;
	bottom: 0;
	overflow: hidden;
	transition: height 0.5s ease-out;
	height: 0;
}

.main-chat.opened
{
	height: auto;
}

.main-chat > .row
{
	height: 100%;
}

.main-chat-user-list > ul
{
	overflow-y: scroll;
	bottom: 0;
	position: absolute;
	top: 2em;
	padding: 0;
	right: 0;
	left: 0;
}
.row.main-chat-area-output
{
	position: absolute;
	bottom: 2em;
	top: 0;
	width: 100%;
}
.row.main-chat-area-input
{
	position: absolute;
	width: 100%;
	bottom: 0;
}
.row.main-chat-area-input > input[type=text]
{
	margin: 0;
}